* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
.wrapper{
    display: grid;
    grid-template-columns: (1 1fr);
    padding: 10px;
    background-image: url("/Images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    padding: 2.5rem 1rem;
    display: flex;
    justify-content: center;
    color: snow;
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}
#vineyard{
    width: 100%;
    border-radius: 20%;
}

#coding:{
    /* width:100%; */
    padding: 30px;

}
h2{
    padding: 1.5rem 1rem;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: powderblue;
    font-size: 1.5rem;
   
}
p{
    text-align: center;
    font-family: 'Gotu', sans-serif;
    border: 2px solid;
    border-color: palegreen;
    border-radius: 1vh;
    color: rgb(144, 180, 16);
    /* margin-top: 2rem; */
    padding: 1rem;
}


@media screen and (max-width: 376px){
    section{
        grid-template-columns: 1fr;
    }
}