/* body{ */
/* } */
body {
    /* background-image: url(/Images/code2.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin: 10px 10px; */
    line-height: 1.4;
    padding: 0em;
  }
  section{
      display: grid;
      /* grid-gap: 20px; */
      grid-template-columns: auto auto auto;
      margin: 0;
      padding: 1rem;
 
  }
 
img{
    display: block;
    min-width: 200px;
    /* width: 100%; */
}

h1{
font-size: 5rem;
/* background-color: #89608E; */
display: block;
text-align: center;
}
@media screen and (max-width: 376px){
    section{
        grid-template-columns: 1fr;
    }
}