* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: steelblue;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: (1 1fr);
    padding: 10px;
    
    
}



h1{
    padding: 2.5rem 1rem;
    align-content: center;
    color: snow;
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}
#vineyard{
    width: 100%;
    border-radius: 1%;
}

#coding {
    width:100%;
    padding-bottom: 30px;
    border-radius: 1%;

}
h2{
    padding: 1.5rem 1rem;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: powderblue;
    font-size: 1.5rem;
   
}
p{
    text-align: center;
    font-family: 'Gotu', sans-serif;
    border: 2px solid;
    border-radius: 1vh;
    color: rgb(47, 223, 193);
    /* margin-top: 2rem; */
    padding: 1rem;
}


@media screen and (min-width: 750px){
    .inner{
        display: grid;
        grid-gap: 1rem;
        
        grid-template-columns: 1fr 1fr 1fr;
        
    }
   body{
    background-color:  #2559C5;
    background-size: cover;
    height: 100vh;
   }

}